Cargo.lock
/target
/.vs
/dist/

/data-naturalearth/Vector-Physical/_info/
/data-naturalearth/Vector-Physical/_raw/
/data-naturalearth/Vector-Physical/_get-box/
/data-naturalearth/Vector-Physical/_get-label/
/data-naturalearth/Vector-Physical/_get2/

